*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


header{
  position: fixed;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px #000;
  z-index: 5;
}

.ancho{
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.logo{
  height: 70px;
  width: 60%;
  background-color: #fff;
  text-align: center;
  float: left;
  margin-left: 110px;
}




.sede{
  background-color: #444;
  width: 100%;
  height: 200px;
  padding-top: 100px;
}

.menu{
  width: 90px;
  height: 70px;
  margin-left: 60px;
  background-color:#fff;
  float: left;
}

.menu h3{
  margin-top: 20px;
  margin-left: 15px;

.menu{
  width: 3em;
  margin-top: -4.5em;
  margin-left: 4em;

  color: #ffae00;

}

.menuDespegable{
  background: #363636;
  margin-left: 3em;
  width: 15em;
}

.menuDespegable ul{
  text-align: left;
  list-style: none;
}

.menuDespegable li:hover{
  background: #fbbd00;
}

.menuDespegable a{
  text-decoration: none;
  color: white;
}

.logoFinal img{
  width: 20%;
}

button {
  border: none;
  width: 2.5em;
}

hr{
  color: black;
  height: 2px;
}

header img{
  padding-top: 1em;
  padding-bottom: 1.5em;
  width: 10em;
}

.enabledMenu{
  display: block;
}

.desabledMenu{
  display: none;
}
