*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header{
  position: fixed;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px #000;
}

.logo{ /*Div que contiene logoLab*/
  height: 70px;
  width: 60%;
  text-align: center;
  float: left;
  margin-left: 110px;
}

.logo img{/*imagen logoLab*/
  padding-top: 1em;
  padding-bottom: 1.5em;
  width: 10em;
}

.sede{ /*Barra menús sedes*/
  background-color: #444;
  width: 100%;
  height: 200px;
  padding-top: 100px;
}

.menu{  /* div que contiene h3 menu*/
  width: 90px;
  height: 70px;
  margin-left: 60px;
  float: left;
}

.menu h3{  /*texto*/
  margin-top: 20px;
  margin-left: 15px;
}

/*Menú despegable*/

.usuario img{
  padding-left: 1em;
  width: 40%;
}


.usuario h4{
  margin-left: 6em;
  position: relative;
  bottom: 80px;
  left: 10px;
  color: #fff;



}

.menuDespegable{
  background: #363636;
  margin-left: 3em;
  width: 15em;
  position: fixed;
  top: 70px;
  
}

.menuDespegable ul{
  text-align: left;
  padding-left: 1em;
  padding-bottom: 2em;
  list-style: none;
}

.menuDespegable li:hover{
  background: #fbab00;
}

.menuDespegable a{
  text-decoration: none;
  color: white;
}

.logoFinal img{
  padding-left: 5em;
  width: 20%;
}

button {
  border: none;
  background: none;
  position: relative;
  right: 67em;
  top: 1.6em;
}

.enabledMenu{
  display: block;
}

.disabledMenu{
  display: none;
}

#seccion1{
  color: white;
}

.sede h1{
  margin-top: 50px;
}

.sede ul{
  display: flex;
  list-style: none;
}

.sede a{
  text-decoration: none;
  color: white;
  padding-left: 3.2em;
}

.sede li{
  display: block;
  padding: 20px 20px;
}

.sede h1{
  padding-left: 3em;
}

/*seccion graficos*/
.graph{
  background-color: #f7f7f7;
  width: 100%;
  height: 600px;
}

.graph p{
  font-size: 16px;
  margin-left: 60px;
  padding-top: 50px;
  border-bottom:  0.5em solid #fbab00;
  width: 85px;

}
#btn2{
   

}


